body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Oswald', sans-serif ;
}

h3{
  font-size: 50px ;
}

body,
html {
  height: 100%;
  line-height: 1.8;
}
footer{
  background-color: #121212;
  color: #fff;
}

/* Full height image header */
.bgimg-1 {
  background: url("images/working-pattern-internet-abstract-1089438.jpg")center center no-repeat;
  box-shadow: inset 0 0 0 1000px rgb(0, 0, 0, 0.7);
  min-height: 100%;
}

#about{
  margin-top: 50px;
}

.sql-server{
  color: rgb(156, 4, 4) ;
}

.spring{
  color: rgb(5, 170, 5);
}

.w3-display-left{
  padding:48px;
}

.w3-bar .w3-button {
  padding: 16px;
}

#myNavbar,
#mySidebarpromo{
  background-color: #121212 !important;
}

#tech-stack{
  margin-bottom: 50px;
}

.w3-bar-item,
.nav,
.fa-paper-plane,
.fa-facebook-official,
.fa-instagram,
.fa-twitter {
  color:#55d6aa !important;
}

.more-about{
  text-align: justify;
}

.fa,
.fas {
  color: #55d6aa;
}

#location,
#mail {
  color: #55d6aa;
  background-color: #121212;
}

#contact {
  background-color: #55d6aa;
}

#send-message {
  background-color: #121212;
  color: #55d6aa;
  display: block;
  margin: auto;
}

@media only screen and (max-width: 1065px) {
  .bgimg-1{
    background: url("images/working-pattern-internet-abstract-1089438.jpg");
    background-position: center;
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgb(0, 0, 0, 0.7);
  }

  /* Override class to re-sizze header text */
  .w3-jumbo{
    font-size: 3em !important;
  }

  /* Override class to center header text */
  .w3-display-left{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #contact {
    padding: 16px !important;
  }

  .fa-facebook-official,
  .fa-instagram,
  .fa-twitter,
  .fa-map-marker,
  .fa-envelope {
    font-size: 30px !important;
    margin-left: 15px;
  }

}
/* override input style */
.w3-input {
  width: 60% !important;
  margin-left: 20%;
}

.fa-facebook-official,
.fa-instagram,
.fa-twitter {
  font-size: 52px;
  margin-left: 15px;
}
